* {
  box-sizing: border-box;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans";
  background-color: #1f1f1f;
  min-width: 300px;
}


h1 {
  font-size: 2rem;
}

p, span, aside {
  font-family: "Merriweather";
}

main {
  min-height: calc(100vh - 14rem);
  max-width: 100%;
}

/* Header and Outlet wrapper */
div#content-wrapper {
  position: relative;
  min-height: calc(100vh - 7rem);
}

/* Header and Nav */
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 100vw;
  min-width: 300px;
  padding: 0 1rem;
  z-index: 100;
  border-bottom: 1px solid #D98B22;
}

header > div.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: inherit;
}

div.header-container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  gap: 6px;
}

div.header-container > a > .img-logo {
  height: 1.75rem;
}

div.header-container > a.logo {
  color: #FFFAF0;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

div.header-container > img.profile {
  position: absolute;
  right: 1rem;
  height: 1.5rem;
}

div.header-container > img.profile:hover {
  cursor: pointer;
}

/* Logout profile */
nav.off-screen  {
  display: none;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
}

nav.off-screen.active {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  position: absolute;
  background-color: #D98B22;
  height: fit-content;
  width: 12rem;
  /* max-width: 300px;
  min-width: 200px; */
  right: 0;
  color: white;
  z-index: 5;
  border-bottom-left-radius: 6px;
}

nav.off-screen.active a {
  color:#FAEBD7;
  text-decoration: none;
  font-size: 1.25rem;
  height: fit-content;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px groove rgba(250, 235, 215, .25);
}

nav.off-screen.active a:hover {
  background-color: rgba(250, 235, 215, .75);
  color: #D98B22;
}

/* Container for all pages */
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
  min-height: calc(100vh - 14rem);
  width: 100%;
}


section.main {
  width: 90%;
  max-width: 500px;
  height: fit-content;
  color: #1f1f1f;
}

/* Error page */
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFAF0;
}

section.error-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

section.error-main p {
  font-size: 1.125rem;
}

section.error-main a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #D98B22;
  color: #FFFAF0;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 5px;
}

section.error-main a:hover {
  background-color: #FAEBD7;
  color: #D98B22;
  border: 2px solid #D98B22;
}

section.error-main > p > span {
  font-size: 1.5rem;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7rem;
  z-index: 100;
  border-top: 1px solid #000000;
}

footer a {
  color: #FFFAF0;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  header {
    padding: 0 4rem;
  }

  header > div.header-container {
    justify-content: space-between;
    max-width: none;
  }

  div.header-container > a > img.img-logo {
    height: 2.25rem;
  }

  div.header-container > img.profile {
    position: relative;
  }
}

@media only screen and (min-width: 1080px) {
  header > div.header-container {
    justify-content: space-between;
  }
}