div.calendar-container {
  display: none;
}

@keyframes pullUp {
  0% { height: 0vh;}
  100% { height: 475px;}
}

div.calendar-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  position: absolute;
  top: 0;
  height: 475px;
  width: 100%;
  min-width: 240px;
  animation: pullUp 1s ease-in-out 0s;
  overflow: hidden;
}

div.calendar-container > div.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80%;
  width: 90%;
  max-width: 500px;
  background-color: #1f1f1f;
  border-radius: 6px;
  margin-top: 2rem;
}

div.calendar > button.cancel-calendar {
  position: absolute;
  top: 0.5rem;
  margin: .5rem;
  padding: 0;
  right: 1.75rem;
  background-color: transparent;
  color: #c05b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

button.cancel-calendar > img.cancel-cal-img {
  height: 1.75rem;
}

div.calendar > div.calendar-header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 500px;
  height: fit-content;
  margin-bottom: 1.5rem;
}

div.calendar-header > span {
  color: #FFFAF0;
  font-family: "Work Sans";
  font-size: 1.5rem;
}

div.calendar-header > button.cal-button {
  background-color: transparent;
  border: none;
}

button.cal-button > img {
  height: 1.5rem;
}

div.calendar > div.calendar-body {
  width: 90%;
  min-height: 85%;
}

div.calendar-body > div.calendar-weekdays {
  margin-bottom: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  color: #FFFAF0;
}

div.calendar-weekdays > span {
  display: flex;
  justify-content: center;
  width: 2rem;
  border-bottom: 1px solid #FFFAF0;
  font-family: "Work Sans";
}

div.calendar-body > div.calendar-dates {
  color: white;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 16px;
}

div.calendar-dates > a {
  border-radius: 6px;
  color: white;
  text-decoration: none;
}

div.calendar-dates > a:hover {
  background-color: rgba(217,139,34, .5);
  border-radius: 6px;
}

a > div.date-containers {
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

a > div.gold-border {
  border: 1px solid #D98B22;
  border-radius: 6px;
  padding: .125rem;
} 

a > div.gold-background {
  background-color: rgba(217,139,34, .35);
}

@media only screen and (min-width: 768px) {
  div.calendar-container.active {
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
  }
}

@media only screen and (min-width: 1080px) {
  div.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    min-width: 240px;
    margin-top: 2rem;
  }
  
  div.calendar-container.active {
    display: none;
  }
  
  div.calendar-container > div.calendar {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 1.5rem 0;
  }

  div.calendar > div.calendar-body {
    margin-block: 3rem;
  }

  button.cancel-calendar > img.cancel-cal-img {
    display: none;
  }
}