div.all-scheduling > div.no-schedule {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.75vh;
}

div.all-scheduling > div.no-schedule.inactive {
  display: none;
}

div.all-scheduling > div.no-schedule h1 {
  width: 90%;
  text-align: center;
}

div.all-scheduling > div.no-schedule > button#add-workout {
  height: 50px;
  width: 80%;
  max-width: 500px;
  background-color: #D98B22;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

div.schedule button#add-workout.inactive {
  display: none;
}

div.all-scheduling > div.no-schedule button:active {
  background-color: #FFFFFF;
  color: #D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}

/* Workout form */
div.all-scheduling > div.workout-form {
  display: none;
}

div.all-scheduling > div.workout-form.active {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 0;
  background-color: #FFFFFF;
  border-radius: 6px;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(120, 120, 120, .25);
}

div.workout-form > div.cancel-new-exercise {
  position: absolute;
  top: .5rem;
  text-align: right;
  padding: 0 .5rem;
  width: 100%;
}

div.cancel-new-exercise > img.cancel-new-exercise-img {
  height: 1.5rem;
}

div.cancel-new-exercise > img.cancel-new-exercise-img:hover {
  border-bottom: 1px solid #c05b5b;
  cursor: pointer;
}

div.workout-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 450px;
  padding: 0 2rem;
}

div.workout-form h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

div.workout-form input, div.workout-form button {
  height: 40px;
  padding: 0 .5rem;
  border-radius: 5px;
  border: 1px solid rgba(120, 120, 120, .5);
  font-size: .875rem;
}

div.inputBoxes {
  display: flex;
  width: 100%;
}

div.workout-form .workoutInput {
  width: 55%;
}

div.workout-form .muscleGroupInput {
  width: 45%;
  margin-left: .25rem;
}

Form > div.exercise-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: .25rem;
}

div.exercise-btn-container > div#add-exercise,
div.exercise-btn-container > div#remove-exercise {
  display: flex;
  align-items: center;
  justify-self: right;
  width: fit-content;
  height: 25px;
  background: none;
  color: #D98B22;
  cursor: pointer;
  font-size: .875rem;
}

span.invalidDash {
  width: 100%;
  text-align: center;
  color: #c05b5b;
  margin: 1rem 0 .25rem 0;
  font-size: .875rem;
}

span#warning-key, 
span.sets-warning-key {
  display: none;
}

span#warning-key.inactive,
span.sets-warning-key.inactive {
  display: block;
  width: 100%;
  text-align: center;
  color: #c05b5b;
  background-color: #FFFFFF;
  padding: .5rem 0;
  margin: 0;
  font-size: .875rem;
  z-index: 5;
}

div.exercise-btn-container > div#add-exercise:hover,
div.exercise-btn-container > div#remove-exercise:hover {
  border-bottom: 1px solid #D98B22;
}

div.exercise-btn-container > div#add-exercise > img,
div.exercise-btn-container > div#remove-exercise > img {
  margin-right: .25rem;
}


div.workout-form > Form > #submit-exercise {
  width: 100%;
  margin-top: 1rem;
  background-color: #D98B22;
  color: #FFFFFF;
}

div.workout-form > Form > #submit-exercise:hover {
  cursor: pointer;
}

div.workout-form > Form > #submit-exercise:disabled {
  background-color: #FFFFFF;
  color: #c05b5b;
  color: rgba(192,91,91 .5);
  border: 1px solid #c05b5b;
  cursor:wait;
}