div.dash-container {
  background-color: #FFFAF0;
  align-content: start;
}

/* date button */
div.dash-container > div.displayDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D98B22;
  width: fit-content;
  min-width: 200px;
  height: 30px;
  border-radius: 10px;
  margin: .5rem 35%;
  font-size: 1.5rem;
  box-shadow: 2px 4px 4px 2px rgba(217,139,34, .5);
}

div.displayDate > button.calendar-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  gap: 10px;
}

button.calendar-button > span {
  font-size: .875rem;
  color: #FFFFFF;
  min-width: fit-content;
  font-family: "Work Sans";
}

div.displayDate > button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

div.displayDate > #past-date.inactive, 
div.displayDate > #future-date.inactive {
  display: none;
}

button.calendar-button > img {
  height: 1rem;
}

/* no schedule container */
div.dash-container > div.no-schedule {
  width: 90%;
  max-width: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.75vh;
}

div.dash-container > div.no-schedule.inactive {
  display: none;
}

div.dash-container > div.no-schedule h1 {
  width: 90%;
  text-align: center;
}

div.dash-container > div.no-schedule button#add-workout,
div.dash-container > div.schedule button#add-workout {
  height: 50px;
  width: 90%;
  max-width: 500px;
  background-color: #D98B22;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

div.schedule button#add-workout.inactive {
  display: none;
}

div.dash-container > div.no-schedule button:active {
  background-color: #FFFFFF;
  color: #D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}

/* Todays Schedule container */
div.schedule {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
}

div.schedule.inactive {
  display: none;
}

div.schedule > .table-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  margin-bottom: .25rem;
}

.table-actions > img.threeDotImg {
  height: 1.75rem;
  padding: 0 .25rem;
  width: fit-content;
}

.table-actions > img.threeDotImg.inactive {
  display: none;
}

div.table-actions > img.cancel-edit-img {
  display: none;
}

div.table-actions > img.cancel-edit-img.active {
  display: flex;
  height: 1.75rem;
}

div.table-actions > img.cancel-edit-img.active:hover {
  border-bottom: 1px solid #c05b5b;
}

.table-actions > img:hover {
  cursor: pointer;
}

div.schedule > .table-actions-menu {
  display: none;
}

div.schedule > .table-actions-menu.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 1.75rem;
  border-radius: 6px;
  border: 1px solid #1f1f1f;
  background-color: #FFFAF0;
  box-shadow: -1px 4px 6px 2px rgba(159,154,154, .5);
  z-index: 3;
}

.table-actions-menu > span {
  width: 100%;
  padding: 1rem .25rem;
  text-align: center;
  font-family: "Work Sans";
}

.table-actions-menu > span.action-edit {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.table-actions-menu.active > span.action-edit:hover {
  background-color: rgba(217, 139, 34, 1);
  color: #FFFAF0;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.table-actions-menu.active > span.action-delete:hover {
  background-color: rgba(217, 139, 34, 1);
  color: #FFFAF0;
  cursor: pointer;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.workout-actions {
  border: 1px solid red;
  width: 80%;
}

.workout-actions > td.action-edit {
  border-right: 1px solid red;
}

div.schedule > div.workout-table {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border-radius: 6px;
  overflow: hidden;
  height: fit-content;
  margin-bottom: 2rem;
}

div.workout-table > div.workout-thead-section {
  width: 100%;
  height: 70px;
  color: #D98B22;
  background-color: #FFFFFF;
}


div.workout-thead-section > div.workout-thead-row {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(217, 139, 34, .5);
}

div.workout-thead-row > div.th {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

div.workout-thead-row > div.reps {
  width: 15%;
}

div.workout-thead-row > div.sets {
  width: 15%;
}

div.workout-thead-row > div.focus {
  width: 30%;
}

div.workout-thead-row > div.exercise {
  width: 40%;
}

div.workout-table > div.workout-table-tbody {
  height: fit-content;
  width: 100%;
}

div.workout-table-tbody > Form > div.workout-tbody-row {
  display: flex;
  position: relative;
  align-items: center;
  width: 120%;
  height: 70px;
  padding: 0;
  margin: 0;
  right: 20%;
  border-top: 1px solid rgba(159,154,164, .25);
}

@keyframes slideLeft {
  from {right: 20%;}
  to {right: 0;}
}

div.workout-table-tbody > Form > div.workout-tbody-row.delete {
  right: 0;
  animation: slideLeft 0.5s ease-in forwards;
  -webkit-animation: slideLeft 0.5s ease-in forwards;
  -moz-animation: slideLeft 0.5s ease-in forwards;
  -o-animation: slideLeft 0.5s ease-in forwards;
}

div.workout-tbody-row > input.workout-rows {
  height: 100%;
  border: none;
  border-radius: 0px;
}

div.workout-tbody-row > input.workout-rows:focus {
  outline: none;
}

div.workout-tbody-row > input.workout-rows.active-edit {
  background-color: #FFFFFF;
  border: 1px solid rgba(255,250,240, 1);
  border-radius: 6px;
}

div.workout-tbody-row > input.workout-rows.active-edit:focus {
  outline: auto #D98B22;
}

div.workout-tbody-row > input.workout-rows.active-delete {
  background-color: #FFFFFF;
  border: 1px solid rgba(255,250,240, 1);
  border-radius: 6px;
}

div.workout-tbody-row > input.sets-row {
  width: 15%;
  border-right: 1px solid rgba(159,154,164, .25);
}

div.workout-tbody-row > input.reps-row {
  width: 15%;
}

div.workout-tbody-row > input.exercise-row {
  width: 42%;
  background-color: rgba(217, 139, 34, .8);
}

div.workout-tbody-row > input.focus-row {
  border-left: 1px solid rgba(217, 139, 34, .5);
  border-right: 1px solid rgba(159,154,164, .25);
  width: 30%;
}

div.workout-tbody-row > input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

div.workout-tbody-row > button.workout-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c05b5b;
  width: 20%;
  height: 100%;
  border-radius: 6px;
  margin-right: 1px;
  border: none;
}

button.workout-actions > img.delete-action-img {
  height: 1.25rem;
}


/* Schedule Edit button */
Form > #submit-edit-exercise {
  display: none;
}

Form > #submit-edit-exercise.active {
  display: block;
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  max-width: 500px;
  background-color: #D98B22;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

Form > #submit-edit-exercise.active:hover {
  cursor: pointer;
}

Form > #submit-edit-exercise.active:active {
  background-color: #FFFFFF;
  color:#D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}

Form > #delete-all-exercises {
  display: none;
}

/* Schedule Delete button */
Form > #delete-all-exercises.active {
  display: block;
  margin-top: 2rem;
  height: 50px;
  width: 100%;
  max-width: 500px;
  background-color: #c05b5b;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

Form > #delete-all-exercises.active:hover {
  cursor: pointer;
}

Form > #delete-all-exercises.active:active {
  background-color: #FFFFFF;
  color:#D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}

/* Workout form */
div.dash-container > div.workout-form {
  display: none;
}

div.dash-container > div.workout-form.active {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 500px;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
  background-color: #FFFFFF;
  border-radius: 6px;
}

div.workout-form > div.cancel-new-exercise {
  position: absolute;
  top: .5rem;
  text-align: right;
  padding: 0 .5rem;
  width: 100%;
}

div.cancel-new-exercise > img.cancel-new-exercise-img {
  height: 1.5rem;
}

div.cancel-new-exercise > img.cancel-new-exercise-img:hover {
  border-bottom: 1px solid #c05b5b;
  cursor: pointer;
}

div.workout-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 450px;
  padding: 0 2rem;
}

div.workout-form h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

div.workout-form input, div.workout-form button {
  height: 40px;
  padding: 0 .5rem;
  border-radius: 5px;
  border: 1px solid rgba(120, 120, 120, .5);
  font-size: .875rem;
}

div.inputBoxes {
  display: flex;
  width: 100%;
}

div.workout-form .workoutInput {
  width: 45%;
}

div.workout-form .muscleGroupInput {
  width: 25%;
  margin-left: .25rem;
}

div.workout-form .setInput {
  width: 20%;
  margin-left: .25rem;
}

div.workout-form .repInput {
  width: 20%;
  margin-left: .25rem;
}

div.workout-form > Form > div.exercise-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: .25rem;
}

div.exercise-btn-container > div#add-exercise,
div.exercise-btn-container > div#remove-exercise {
  display: flex;
  align-items: center;
  justify-self: right;
  width: fit-content;
  height: 25px;
  background: none;
  color: #D98B22;
  cursor: pointer;
  font-size: .875rem;
}

span.invalidDash {
  width: 100%;
  text-align: center;
  color: #c05b5b;
  margin: 1rem 0 .25rem 0;
  font-size: .875rem;
}

span#warning-key {
  display: none;
}

span#warning-key.inactive {
  display: block;
  width: 100%;
  text-align: center;
  color: #c05b5b;
  margin: 1rem 0 .25rem 0;
  font-size: .875rem;
}

div.exercise-btn-container > div#add-exercise:hover,
div.exercise-btn-container > div#remove-exercise:hover {
  border-bottom: 1px solid #D98B22;
}

div.exercise-btn-container > div#add-exercise > img,
div.exercise-btn-container > div#remove-exercise > img {
  margin-right: .25rem;
}


div.workout-form > Form > #submit-exercise {
  width: 100%;
  margin-top: 1rem;
  background-color: #D98B22;
  color: #FFFFFF;
}

div.workout-form > Form > #submit-exercise:hover {
  cursor: pointer;
}


div.workout-form > Form > #submit-exercise:active {
  background-color: #FFFFFF;
  color:#D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}