div.dash-container {
  background-color: #FFFAF0;
  align-content: start;
}

/* date button */
div.dash-container > div.displayDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D98B22;
  width: fit-content;
  min-width: 200px;
  height: 30px;
  border-radius: 10px;
  margin: 2rem 35%;
  font-size: 1.5rem;
  box-shadow: 2px 4px 4px 2px rgba(217,139,34, .5);
}

div.dash-container > div.displayDate > span {
  margin: 0 .75rem;
  font-size: .875rem;
  color: #FFFFFF;
  min-width: fit-content;
}

div.dash-container > div.displayDate > button {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

/* no schedule container */
div.dash-container > div.no-schedule {
  width: 90%;
  max-width: 500px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6.75vh;
}

div.dash-container > div.no-schedule h1 {
  width: 100%;
  text-align: center;
}

div.dash-container > div.no-schedule button {
  height: 50px;
  width: 100%;
  max-width: 500px;
  background-color: #D98B22;
  border: none;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

div.dash-container > div.no-schedule button:active {
  background-color: #FFFFFF;
  color: #D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}

/* Todays Schedule container */
div.schedule {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
}

div.schedule > table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block: 1rem;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 2px 4px 4px 4px rgba(159,154,154, .5);
}

table > thead {
  width: 100%;
  background-color: #1f1f1f;
  color: #FFFAF0;
}

thead > tr.table-head-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

tr.table-head-row > th {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
}

tr.table-head-row > th.reps {
  width: 20%;
}
/* #36454F #9F9AA4*/
tr.table-head-row > th.exercise {
  width: 55%;
  border-left: 1px solid rgba(159,154,164, 1);
  border-right: 1px solid rgba(159,154,164, 1);
}

tr.table-head-row > th.focus {
  width: 25%;
}

table > tbody {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

 tbody > tr {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid rgba(159,154,164, 1);
  background-color: rgba(159,154,164, .75);
}

tbody > tr.reps-row {
  width: 20%;
}

tbody > tr.exercise-row {
  border-left: 1px solid rgba(159,154,164, 1);
  border-right: 1px solid rgba(159,154,164, 1);
  width: 55%;
}

tbody > tr.focus-row {
  width: 25%;
}

th, tbody > tr {
  padding: 20px 0px;
}

/* Workout form */
div.dash-container > div.workout-form {
  display: none;
  flex-wrap: wrap;
  width: 90%;
  max-width: 500px;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4rem 0;
  background-color: #FFFFFF;
  border-radius: 6px;
}

div.workout-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 450px;
  padding: 0 2rem;
}

div.workout-form h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 2rem 0;
}

div.workout-form input, div.workout-form button {
  height: 40px;
  padding: 0 .5rem;
  border-radius: 5px;
  border: 1px solid rgba(120, 120, 120, .5);
  font-size: .875rem;
}

div.inputBoxes {
  display: flex;
  width: 100%;
}

div.workout-form .workoutInput {
  width: 45%;
}

div.workout-form .muscleGroupInput {
  width: 30%;
}

div.workout-form .repInput {
  width: 25%;
  margin-left: .25rem;
}

div.workout-form > Form > div.exercise-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: .25rem;
}

div.exercise-btn-container > div#add-exercise,
div.exercise-btn-container > div#remove-exercise {
  display: flex;
  align-items: center;
  justify-self: right;
  width: fit-content;
  height: 25px;
  background: none;
  color: #D98B22;
  cursor: pointer;
  font-size: .875rem;
}

span.invalidDash {
  width: 100%;
  text-align: center;
  color: #c05b5b;
  margin: 1rem 0 .25rem 0;
  font-size: .875rem;
}

div.exercise-btn-container > div#add-exercise:hover,
div.exercise-btn-container > div#remove-exercise:hover {
  border-bottom: 1px solid #D98B22;
}

div.exercise-btn-container > div#add-exercise > img,
div.exercise-btn-container > div#remove-exercise > img {
  margin-right: .25rem;
}


div.workout-form > Form > #submit-exercise {
  width: 100%;
  margin-top: 1rem;
  background-color: #D98B22;
  color: #FFFFFF;
}

div.workout-form > Form > #submit-exercise:hover {
  cursor: pointer;
}


div.workout-form > Form > #submit-exercise:active {
  background-color: #FFFFFF;
  color:#D98B22;
  border: 1px solid #D98B22;
  cursor: pointer;
}