div.dash-container {
  background-color: #FFFAF0;
  align-content: start;
}

h1.greeting {
  height: fit-content;
  width: 100%;
  font-size: 1.5rem;
  padding: 0 10%;
  margin: 0;
}

/* All Scheduling */
div.dash-container > div.all-scheduling {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  margin-top: 2rem;
}

@media only screen and (min-width: 1080px) {
  div.dash-container {
    display: grid;
    grid-template: 
      "a a"
      "b c"
      "b d";
  }

  div.dash-container > div.displayDate {
    grid-area: a;
  }

  div.dash-container > div.all-scheduling {
    max-height: 500px;
    overflow: auto;
  }

  div.all-scheduling > div.no-schedule {
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 200px;
    padding: 0 2rem;
    border-top: 1px solid #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    margin-top: 0;
    grid-area: b;
  }
  
  button.calendar-button > img {
    display: none;
  }

  div.all-scheduling > div.no-schedule h1 {
    margin-top: 0;
  }

  div.all-scheduling > div.schedule {
    width: 100%;
    max-width: 450px;
    height: fit-content;
    padding: 0;
    align-content: start;
    grid-area: b;
  }
  
  div.schedule > .table-actions {
    padding: 0 5%;
  }

  div.schedule > .table-actions-menu.active {
    right: 2.5%;
  }

  div.schedule > div.workout-table {
    width: 100%;
  }

  div.all-scheduling > div.workout-form.active {
    width: 100%;
    max-width: 450px;
  }
}