div.home-bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url("../images/trx-bands.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 240px;
}

div.home-bg > div.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 240px;
  background-color: rgba(0,0,0, .65);
  z-index: 2;
}

div.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 100%;
  padding-top: 2rem;
}

div.home-container > section.home-cta {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  width: 90%;
  min-width: 240px;
  z-index: 3;
  color: #fffaf0;
  margin-block: 2rem;
}

section.home-cta > div.cta-texts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 475px;
  min-width: 240px;
}

div.cta-texts > h1 {
  margin: 0;
  font-size: 4rem;
}

div.cta-texts > p {
  margin-block: 1.5rem;
  font-family: Merriweather;
}

div.cta-texts > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D98B22;
  color: #FFFAF0;
  text-decoration: none;
  width: 50%;
  height: 50px;
  font-weight: 400;
  border-radius: 6px;
}

div.cta-texts > a:hover {
  background-color: #FFFFFF;
  color: #D98B22;
}

.mock-img {
  display: none;
}

/* About container   */
div.about-container {
  display: flex;
  justify-content: center;
  z-index: 2;
  width: 100vw;
  background-color: #FFFAF0;
  min-width: 300px;
  gap: 1rem;
  margin-top: 2rem;
  padding: 4rem 0;
}


section.about-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  min-width: 240px;
}

section.about-cta > div.banner {
  display: none;
  background-image: url("../images/dead-lift.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.about-cta > div.about-text {
  max-width: 475px;
  width: 100%;
  text-align: center;
}

section.about-cta h1 {
  color: #D98B22;
  font-size: 3rem;
  margin: 0;
}

@media only screen and (min-width: 768px)  {
  div.home-container > section.home-cta {
    justify-content: space-between;
  }
  
  section.home-cta > div.cta-texts {
    display: block;
    text-align: left;
    max-width: 525px;
    min-width: 240px;
  }

  div.home-container > section.home-cta {
    align-items: end;
    max-width: 700px;
    gap: 16px;
  }
  
  div.home-container > section.home-cta h1 {
    margin: 0;
    font-size: 4.5rem;
  }

  .mock-img {
    display: flex;
    height: 300px;
  }
/* 
  div.mock-img > img {
    position: relative;
    z-index: 5;
    height: 100%;
  } */

  /* About container   */
  section.about-cta {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 700px;
    gap: 1rem;
  }
  
  section.about-cta > div.banner {
    display: flex;
    height: 400px;
    width: 55%;
    max-width: 400px;
    border-radius: 6px;
  }
  
  section.about-cta > div.about-text {
    width: 50%; 
    max-width: 400px;
    text-align: left;
  }
}

@media only screen and (min-width: 1080px)  {

  div.home-container > section.home-cta {
    max-width: 900px;
  }

  section.home-cta > div.cta-texts {
    max-width: 600px;
  }

  .mock-img {
    height: 400px;
  }

  div.home-container > section.home-cta h1 {
    font-size: 5rem;
  }

  /* About container   */
  section.about-cta {
    max-width: 900px;
  }

  section.about-cta > div.about-text {
    max-width: 500px;
  }

  section.about-cta > div.banner {
    max-width: 500px;
  }
}